$text-color: rgba(#000000, 0.75);
$primary-btn-color: #dc3545;
// @mixin drop-shadow {
//   box-shadow: -3px 3px 50px rgba(#000000, 0.15);
// }

body {
  color: $text-color;
}

button {
  border: none;
}
.page-wrapper {
  min-height: calc(100vh - 56px);
}

a {
  color: inherit;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  height: 100vh;
  background-color: #fff;
  padding: 15px;
  box-shadow: -3px 3px 50px rgba(#000000, 0.15);
  transition: all ease-in-out 0.5s;
  translate: 500px;
  z-index: 1030;
}
.show-sidebar {
  translate: 0px;
}

.product {
  .product-img-section {
    position: relative;
    border: 1px solid #e4e4e4;
    overflow: hidden;
  }
  .product-img {
    max-height: 200px;
    overflow: hidden;
    transition: all ease-in-out 0.3s;
  }

  &:hover .product-img {
    transform: scale(1.10);
  }

  .product-btns {
    position: absolute;
    top: 20px;
    right: -50px;
    transition: all ease-in-out 0.3s;
    box-shadow: 1px 1px 15px rgba(#000000, 0.2);

  }

  &:hover .product-btns {
    right: 20px;
  } 
  .controller {
    height: 40px;
    width: 40px;
    display: block;
    font-size: 20px;
    text-align: center;


    &.controller-1 {
      background-color: $primary-btn-color;
      color: #fff;
    }
    &.controller-2 {
      color: #000;
      background-color: #fff;;
      &:hover {
        color: #000;
      }
    }
  }
}

.shopping-cart {
  &.card {
    padding: 0;
    border-radius: 0;
    border: none;
  }
  .card-body {
    overflow-y: auto;
  }
  .card-header, .card-footer {
    background: transparent;
    border: none;
  }
  .card-header {
    border-bottom: 1px rgba(#000000, 0.06) solid; 
  }
}

.count-controller {
  background: transparent;
  border: 1px solid #e4e4e4;
  display: inline;
  padding: 5px 7px;
  button, input {
    background: transparent;
  }
  input {
    width: 15%;
    text-align: center;
    border: none;

  }
}

.product-wrapper {
  min-height: 90vh;
  margin-bottom: 20px;
}
.shoppingcart-icon {
  position: relative;
  .itemsCount {
    position: absolute;
    bottom: -5px;
    right: 0;
    height: 17px;
    width: 17px;
    background: $primary-btn-color;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 12px;
  }
}

.clickable {
  cursor: pointer;
}

.delete-btn {
  background: $primary-btn-color;
  height: 40px;
  width: 40px;
}
.black-btn {
  background: black;
  color: #e4e4e4;
}
.gray-btn {
  background: #ccc;
  color: #000;

}
.header {
  transition: all ease-in-out 0.2s;
  &.transparent-header {
    background: transparent;
  }
  &.white-header {
    background: #fff;
    box-shadow: 1px 1px 10px #ccc;
  }
}

.hero {
  min-height: 500px;
  background-color: beige;
  padding: 7%;
  h6 {
    font-weight: bold;
    font-size: 14px;
  }
  a {
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid black;
    color: black;
  }
  .hero-img {
    width: 50%;
    height: auto;
  }
  
}

.wide-dash {
  height: 3px;
  width: 35px;
  background: red;
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 11px;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    width: 100%;
    font-size: 10px ;
  }
}